body {
	background-image: url("media/milkyway.jpg");
	background-size: 1800px 900px;
	background-repeat: no-repeat;
	margin:0;
}

h1 {
		font-family: 'Comic Sans MS', cursive, sans-serif;
		color: #E859D5;
		text-align: center;
		width: 50%;
		margin: auto;
}

table {
	
}