body {
	background-image: url("media/milkyway.jpg");
	background-size: 1800px 900px;
	background-repeat: no-repeat;
	margin:0;
}

h1 {
		font-family: 'Comic Sans MS', cursive, sans-serif;
		color: #E859D5;
		text-align: center;
		width: 50%;
		margin: auto;
}

table.center {
    width: 100%;
	margin: auto;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
}

th {
	font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #59E8CC;
	text-align: center;
	height: 50px;
	margin:auto;
	border: 2px solid white;
}

.col {
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-weight: bold;
    color: #84F2D7;
	text-align: center;
	width: 50%;
	height: 50px;
	margin:auto;
	border: 2px solid white;
}

td {
	font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #E859D5;
	text-align: center;
	height: 50px;
	margin:auto;
	border: 2px solid white;
	background-color: black;
	opacity: .8;
}